@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: #ffffff;
    --foreground: #212121;

    --card: #ffffff;
    --card-foreground: #212121;

    --popover: #ffffff;
    --popover-foreground: #212121;

    --primary: #3386eb;
    --primary-foreground: #ffffff;

    --secondary: #9292E7;
    --secondary-foreground: #413A75;

    --muted: #999999;
    --muted-foreground: #413A75;

    --accent: #6A5ACD;
    --accent-foreground: #ffffff;

    --destructive: #e53935;

    --border: #999999;
    --input: #999999;
    --ring: #6A5ACD;

    --chart-1: #413A75;
    --chart-2: #6A5ACD;
    --chart-3: #9292E7;
    --chart-4: #999999;
    --chart-5: #212121;

    --sidebar: #ffffff;
    --sidebar-foreground: #212121;

    --sidebar-primary: #413A75;
    --sidebar-primary-foreground: #ffffff;

    --sidebar-accent: #6A5ACD;
    --sidebar-accent-foreground: #ffffff;

    --sidebar-border: #999999;
    --sidebar-ring: #6A5ACD;
}

.dark {
    --background: #212121;
    --foreground: #ffffff;

    --card: #413A75;
    --card-foreground: #ffffff;

    --popover: #413A75;
    --popover-foreground: #ffffff;

    --primary: #6A5ACD;
    --primary-foreground: #ffffff;

    --secondary: #9292E7;
    --secondary-foreground: #212121;

    --muted: #999999;
    --muted-foreground: #ffffff;

    --accent: #6A5ACD;
    --accent-foreground: #ffffff;

    --destructive: #ef5350;

    --border: #ffffff1a;
    --input: #ffffff26;
    --ring: #9292E7;

    --chart-1: #9292E7;
    --chart-2: #6A5ACD;
    --chart-3: #413A75;
    --chart-4: #999999;
    --chart-5: #ffffff;

    --sidebar: #413A75;
    --sidebar-foreground: #ffffff;

    --sidebar-primary: #6A5ACD;
    --sidebar-primary-foreground: #ffffff;

    --sidebar-accent: #9292E7;
    --sidebar-accent-foreground: #212121;

    --sidebar-border: #ffffff1a;
    --sidebar-ring: #9292E7;
}


@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }
}